<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore
    iste, nostrum, provident dolores distinctio quasi reiciendis animi aliquam
    mollitia nemo deserunt ipsam temporibus vitae neque porro esse voluptate
    earum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
    voluptate quibusdam nisi, unde odit doloremque tempora iusto, minima est
    quod repellat temporibus sint ea cumque alias molestias, animi dolore
    voluptas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
    dignissimos est quasi perspiciatis nisi! Sed facilis tenetur iste nostrum
    recusandae laudantium accusantium, odit distinctio, obcaecati, cupiditate ad
    atque sit veritatis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore
    iste, nostrum, provident dolores distinctio quasi reiciendis animi aliquam
    mollitia nemo deserunt ipsam temporibus vitae neque porro esse voluptate
    earum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
    voluptate quibusdam nisi, unde odit doloremque tempora iusto, minima est
    quod repellat temporibus sint ea cumque alias molestias, animi dolore
    voluptas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
    dignissimos est quasi perspiciatis nisi! Sed facilis tenetur iste nostrum
    recusandae laudantium accusantium, odit distinctio, obcaecati, cupiditate ad
    atque sit veritatis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore
    iste, nostrum, provident dolores distinctio quasi reiciendis animi aliquam
    mollitia nemo deserunt ipsam temporibus vitae neque porro esse voluptate
    earum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
    voluptate quibusdam nisi, unde odit doloremque tempora iusto, minima est
    quod repellat temporibus sint ea cumque alias molestias, animi dolore
    voluptas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
    dignissimos est quasi perspiciatis nisi! Sed facilis tenetur iste nostrum
    recusandae laudantium accusantium, odit distinctio, obcaecati, cupiditate ad
    atque sit veritatis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore
    iste, nostrum, provident dolores distinctio quasi reiciendis animi aliquam
    mollitia nemo deserunt ipsam temporibus vitae neque porro esse voluptate
    earum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
    voluptate quibusdam nisi, unde odit doloremque tempora iusto, minima est
    quod repellat temporibus sint ea cumque alias molestias, animi dolore
    voluptas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
    dignissimos est quasi perspiciatis nisi! Sed facilis tenetur iste nostrum
    recusandae laudantium accusantium, odit distinctio, obcaecati, cupiditate ad
    atque sit veritatis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore
    iste, nostrum, provident dolores distinctio quasi reiciendis animi aliquam
    mollitia nemo deserunt ipsam temporibus vitae neque porro esse voluptate
    earum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
    voluptate quibusdam nisi, unde odit doloremque tempora iusto, minima est
    quod repellat temporibus sint ea cumque alias molestias, animi dolore
    voluptas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
    dignissimos est quasi perspiciatis nisi! Sed facilis tenetur iste nostrum
    recusandae laudantium accusantium, odit distinctio, obcaecati, cupiditate ad
    atque sit veritatis.
  </p>
</main>
